@import "tailwindcss";

@font-face {
  font-family: "Beagle Brigade";
  src: url("./assets/fonts/BeagleBrigadeAU.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Beagle Brigade", Arial, sans-serif;
  background-color: #fef2e4;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  position: relative;
}



